<p id="notice"><%= notice %></p>

<div class="container-fluid" align="center">
  <h3><%= @plan.title %></h3>

  <%= image_tag @plan.image.url(:tile) %>

  <p>You're looking at a plan that you're going to plan</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> | 
<%= link_to 'Delete', @plan, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', plans_path %>
</div>
